@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

::-webkit-scrollbar-thumb {
  background-color: #16dfb5;
}
::-webkit-scrollbar {
  width: 12px;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

body {
  overflow-x: hidden;
}
body,
body * {
  vertical-align: top;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.page {
  &__wrapper {
    position: relative;
    top: 101px;
    color: #ffffff;

    &--back {
      position: relative;
      background-color: #e9f6ff;
      width: 466px;
      height: 510.56px;
      transform: rotate(-5.53deg);
      border-radius: 20px;
      left: 100px;
      margin-bottom: 100px;

      @media screen and (max-width: 761px) {
        transform: none;
        width: 322px;
        height: 453px;
        margin: 0 auto;
        left: 0;
        background-color: #fff;
      }
    }
  }

  &__header {
    &--text {
      font-size: 60px;
      line-height: 66px;
      margin-bottom: 40px;
      padding-right: 100px;
      font-weight: bold;

      @media screen and (max-width: 761px) {
        font-size: 29px;
        line-height: 31.4px;
        padding-right: 0;
        margin-left: 20px;
        margin-top: -100px;
        margin-bottom: 60px;
      }
    }

    &--span {
      color: #16dfb5;

      @media screen and (max-width: 761px) {
        font-size: 29px;
        line-height: 31.4px;
        padding-right: 0;
      }
    }
  }

  &__paragraph {
    font-size: 24px;
    line-height: 31.2px;

    @media screen and (max-width: 761px) {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 23px;
      margin: 0 auto;
      width: 85vw;
      margin-top: 30px;
    }

    @media screen and (min-width: 1000px) {
      position: relative;
      top: -280px;
    }
  }

  &__background {
    position: absolute;
    border-radius: 53px;
    height: 1493.46px;
    top: -20%;
    left: 4.67%;
    right: -5.34%;
    background: #5022ed;
    transform: matrix(1, -0.04, -0.04, -1, 0, 0);
    z-index: -10;

    @media screen and (max-width: 761px) {
      position: absolute;
      border-radius: 0;

      height: 1063px;
      top: -20%;
      left: 0;
      right: 0%;
      background: #5022ed;
      transform: none;
      z-index: -10;
      clip-path: polygon(0 0, 100% 0, 100% 93%, 0% 100%);
    }
  }

  &__container {
    padding-top: 70px;
  }
}

.form {
  position: relative;
  width: 465px;
  height: 528px;
  border-radius: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  transform: rotate(5.53deg);

  @media screen and (max-width: 761px) {
    width: 322px;
    height: 453px;
    transform: rotate(0deg);
    left: 5;
    display: flex;
    align-content: flex-start;
  }

  &__row {
    height: 48px;
    width: 412px;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    margin-left: 27px;
    display: flex;
    text-align: center;

    @media screen and (max-width: 761px) {
      height: 48px;
      width: 289px;
      margin-left: 10px;
    }

    &:first-child {
      margin-top: 107px;
    }

    &:nth-child(2) {
      margin-top: 25px;
    }

    & > label {
      width: 20%;
      height: 46px;
      font-size: 15px;
      line-height: 22.5px;
      margin-top: 12px;
      color: black;
    }

    & > input {
      width: 50%;
      height: 45px;
      padding-left: 5%;
      padding-right: 10%;
      font-family: 'PingFang SC', 'Roboto', sans-serif;
      font-size: 18px;
      line-height: 22.5px;
      border: none;
      text-align: center;

      &:focus {
        outline: none;
      }
    }

    & > button {
      background-repeat: no-repeat;
      background-position: left;
      background-position-x: 10px;
      background-size: 22px 22px;
      text-align: left;
      width: 30%;
      height: 46px;
      border: none;
      border-radius: 0 20px 20px 0;
      background-color: transparent;

      & > span {
        line-height: 14px;
        font-size: 12px;
        margin-left: 3px;
      }
    }
  }

  &__payment-method {
    margin-top: 28px;
    margin-bottom: 37px;
    margin-left: 27px;
    font-size: 15px;
    line-height: 22.5px;

    @media screen and (max-width: 761px) {
      margin-top: -35px;
    }
  }
}

.line {
  height: 30px;
  width: 1px;
  margin-top: 9px;
  border: 1px solid #d9d9d9;
}

.form__row:last-of-type {
  height: 55px;
  font-size: 15px;
}
.form__start-now {
  color: #16dfb5;
  font-size: 18px;
  line-height: 33px;

  @media screen and (max-width: 761px) {
    display: none;
  }
}
a {
  text-decoration: none;
}

a.form__start-now:hover {
  color: white;
}

#form__payment {
  border: none;
  width: 80%;
  font-size: 16px;
}

.form__payment-img {
  width: 55px;
  margin-left: 10px;
}

.form__btn-buy {
  margin-top: 75px;
  width: 415px;
  height: 48px;
  background-color: #16dfb5;
  border-radius: 5px 24px 24px 20px;
  margin-left: 27px;
  border: none;
  line-height: 48px;
  text-align: center;
  color: #ffffff;

  @media screen and (max-width: 761px) {
    width: 288px;
    margin: 60px auto;
  }
}

button,
.form__btn-buy:hover {
  cursor: pointer;
}
.form__btn-buy:hover {
  color: white;
  transform: scale(1.1);
  transition: all 0.3s ease-in;
}
